/*ボール*/
.ball {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #0091ea;
  opacity: 0.2;
  animation: bound-anim 1.5s infinite;
  z-index: 1;
}

@keyframes bound-anim {
  0%,
  100% {
    top: 0;
    transform: scale(1);
  }
  30% {
    top: -30%;
    transform: scale(0.96, 1.04);
  }
  60% {
    transform: scale(1);
  }
  90% {
    top: 0;
    transform: scale(1.15, 0.9);
  }
}

/*ボール*/
.small-ball-eye-left {
  position: absolute;
  left: 60px;
  top: 25px;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  z-index: 10;
}
.small-ball-eye-left-center {
  position: absolute;
  left: 65px;
  top: 30px;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  z-index: 20;
}

/*ボール*/
.small-ball-eye-right {
  position: absolute;
  right: 60px;
  top: 25px;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  z-index: 10;
}

.small-ball-eye-right-center {
  position: absolute;
  right: 65px;
  top: 30px;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  z-index: 20;
}

.shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -95px; /*対象のheightと微調節*/
  margin: auto;
  width: 60px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  filter: blur(6px);
  opacity: 0.9;
  animation: shadow-anim 1.5s infinite;
}

@keyframes shadow-anim {
  0%,
  100% {
    transform: scale(1);
    filter: blur(4px);
  }
  30% {
    transform: scale(1.6, 1);
    filter: blur(8px);
  }
}
